@import '~antd/dist/antd.css';
.App {
  text-align: center;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-btn-primary{
  color: #fff;
  background: rgb(93, 122, 90);
  border-color: rgb(93, 122, 90);
}
  
.ant-btn-primary:hover, .ant-btn-primary:focus{
  color: #fff;
  background: #353b12;
  border-color: #353b12;
}
.App-link {
  color: #61dafb;
}

.ant-menu {
  background: rgb(81, 117, 59);
  color: white;
}
.ant-menu-horizontal {
  border-bottom: 1px solid rgb(81, 117, 59);
}

.ant-menu-submenu-popup > .ant-menu {
  background-color: rgb(81, 117, 59);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #2e4c2d;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #2e4c2d;
}
.ant-menu-item-selected {
  color: #2e4c2d;
}

.ant-progress-inner {
  font-size: 15px;
}

.ant-carousel .slick-list .slick-slide > div > div {
  vertical-align: middle;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
