.backgroundPanel-services {
    background-image: url('./services_2.webp');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #0e4f04;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftPanel-services {
    background-image: url('./services.jpeg');
    height: 500px;
    background-size: cover;
    background-position: bottom;
}

.rightPanel-services {
    background-color: rgb(169, 204, 155);
    padding: 150px 5% 50px 5%;
    height: 500px;
}