.backgroundPanel-debug {
    background-image: url('./designBackground.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #0e4f04;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightPanel-debug {
    background-color: rgb(169, 204, 155);
    padding: 150px 5% 50px 5%;
    height: 500px;
}

.leftPanel-debug {
    background-image: url('./design.jpeg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}