.backgroundPanel {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 100%), url('./schneider-introduction.png');
    height: 400px;
    background-repeat: repeat;
    background-size: contain;
    color: beige;
}