.background-introduction {
    background-image: linear-gradient(to right, rgba(107, 138, 93, 0.6) 100%, rgba(107, 138, 93, 0.6) 100%), url('../../images/home/main-page-header-background.jpeg');
    height: 400px;
    background-size: cover;
    background-position: center;
    text-align: start;
    padding-left: 15%;
    padding-top: 150px;
}

.introduction-text {
    font-size: 58px;
    line-height: 58px;
    font-weight: 700;
    color: white;
}

.introduction-text a {
    font-size: 100px;
    color: white;
}

.introduction-text a:hover {
    font-size: 100px;
    color: white;
}