.backgroundPanel-design {
    background-image: url('../../images/design/design-header-background.jpeg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #0e4f04;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-panel {
    background-color: rgb(169, 204, 155);
}

.left-panel-design-text {
    /* background-color: rgb(169, 204, 155); */
    padding: 0 5% 0 5%;
    height: 500px;
    display: table-cell !important;
    vertical-align: middle;
}

.left-panel-design-image {
    /* background-color: rgb(169, 204, 155); */
    padding: 0 5% 0 5%;
    height: 500px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.right-panel-design {
    background-image: url('../../images/design/design-right-panel.jpeg');
    height: 500px;
    background-size: cover;
    background-position: center;
}