.leftPanel {
    background-image: url('./mainPage2.jpeg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.rightPanel {
    background-color: rgb(169, 204, 155);
    padding: 200px 5% 50px 5%;
    height: 600px;
}

.leftPanel-design {
    background-image: url('./design.jpeg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.leftPanel-procurement {
    background-image: url('./procurement.jpeg');
    height: 600px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

