.leftPanel {
    background-image: url('./aboutUs.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.rightPanel {
    background-color: rgb(169, 204, 155);
    height: 600px;
    background-repeat: no-repeat;
}